/*
|--------------------------------------------------------------------------
| Theme CSS
|--------------------------------------------------------------------------
|
| About author: https://thelight.vn/
|
*/

/* TOP BAR */
.top-bar {
    background: var(--primary-color);
    color: var(--color-white);
    height: 40px;
    display: flex;
    align-items: center;
}

.top-bar-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar-right .list-social {
    display: flex;
    align-items: center;
}

.top-bar-right .list-social .list-item {
    margin-right: 16px;
}

.top-bar-right .list-social .list-item:last-child {
    margin-right: 0;
}

.top-bar a:hover {
    color: var(--color-blue-1);
}
/* END TOP BAR */

/* HEADER */
.header {
    display: flex;
    align-items: center;
    height: 90px;
}

.header .header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    width: 80px;
    height: 80px;
}

.header .logo img {
    height: 100%;
    transition: none;
}

.menu-nav .list-menu {
    display: flex;
    align-items: center;
}

.menu-nav .list-menu .menu-item {
    margin-right: 16px;
}

.menu-nav .list-menu .menu-item:last-child {
    margin: 0;
}

.menu-nav .list-menu .menu-item.active a {
    color: var(--primary-color);
}

.menu-nav .list-menu .menu-item a {
    font-weight: 700;
    text-transform: uppercase;
}

.menu-nav .list-menu > .menu-item > a:hover {
    color: var(--primary-color);
}
/* END HEADER */

/* Header Sticky */
.header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 56px; */
    z-index: 99;
    background-color: var(--color-white);
    box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 10%);
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    transition: animation .4s ease;
}
/* End Header Sticky */

/* HOME BANNER */
.home-banner .slider-item .img-wrap {
    padding-top: 35.25%;
}

.slider-home-banner:hover .slick-prev,
.slider-home-banner:hover .slick-next {
    opacity: 1;
    visibility: visible;
}

.slider-home-banner .slick-prev,
.slider-home-banner .slick-next {
    opacity: 0;
    visibility: hidden;
}

.slider-home-banner .slick-prev:hover,
.slider-home-banner .slick-next:hover {
    background-color: var(--primary-color);
}

.slider-home-banner .slick-prev {
    left: 50px;
}

.slider-home-banner .slick-next {
    right: 50px;
}
/* END HOME BANNER */

/* ABOUT US HOME */
.about-us-home .img-wrap {
    padding-top: 66.25%;
}

.about-us-home .img-wrap img {
    border-radius: 10px;
}

.about-us-home .about-us-item {
    display: flex;
    align-items: center;
}

.about-us-home .content .title {
    font-size: 2em;
    color: var(--primary-color);
    margin-bottom: 24px;
}

.about-us-home .content .description {
    margin-bottom: 16px;
}
/* END ABOUT US HOME */

/* SLIDER SERVICE */
.service-area .block-title .title {
    color: var(--color-white);
}

.service-area .item-service {
    transform: scale(0.85);
    transition: .5s;
}

.service-area .item-service.slick-current {
    transform: scale(1);
}

.item-service:hover .title {
    color: var(--primary-color);
}

.item-service .card {
    text-align: center;
}

.item-service img {
    height: 200px;
    object-fit: contain;
}

.item-service .title {
    font-size: 0.875em;
    margin-top: 8px;
}
/* END SLIDER SERVICE */

/* Vision */
.item-vision .icon{
    font-size: 40px;
    color: var(--primary-color);
    margin-bottom: 8px;
    display: block;
}

.item-vision .title {
    font-size: 1.25rem;
    margin-bottom: 16px;
    text-transform: uppercase;
    color: var(--primary-color);
}
/* End Vision */

/* WCU */
.wcu-area .block-title .title {
    color: var(--color-white);
}

.wcu-area .item-wcu:hover .card {
    background-color: var(--color-info);
    color: var(--color-white);
}

.wcu-area .item-wcu:hover .title {
    color: var(--color-white);
}

.item-wcu {
    margin-bottom: 32px;
}

.item-wcu .title {
    font-size: 1.25rem;
    margin-bottom: 16px;
    text-transform: uppercase;
    color: var(--primary-color);
}
/* END WCU */

/* Partner */
.list-partner {
    justify-content: center;
    align-items: center;
}

.list-partner .item-partner .inner {
    border: 1px solid #ccc;
    cursor: pointer;
}

.list-partner .item-partner .card:hover img {
    transform: scale(1.1);
}

.list-partner .item-partner .image {
    height: 100px;
}

.list-partner .item-partner .image img {
    object-fit: contain;
    height: 100%;
}
/* End Partner */

/* Slider Blog */
.slider-blog .block-title .title {
    color: var(--color-white);
}

.item-blog:hover img {
    transform: scale(1.1);
}

.item-blog:hover a {
    color: var(--secondary-color);
}

.item-blog .img-wrap {
    padding-top: 76.25%;
}

.item-blog img {
    border-radius: 10px;
}

.item-blog .blog-content {
    margin-top: 30px;
}

.item-blog .blog-content .title {
    font-size: 1.2em;
    line-height: 24px;
}

.item-blog .blog-content .description {
    margin-top: 12px;
}
/* End Slider Blog */

/* Page Header */
.page-header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.page-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.page-header .page-head-wrapper {
    color: var(--color-white);
    position: relative;
    text-align: center;
    z-index: 2;
}

.page-header .page-title .title {
    font-size: 4em;
    line-height: 80px;
}

.page-header .breadcrumb {
    font-size: 1.2em;
}

.page-header .breadcrumb a:hover {
    color: var(--secondary-color);
}
/* End Page Header */

/* Page Service */
.page-service-area .item-service {
    margin-bottom: 32px;
}

.page-service-area .item-service:hover img {
    transform: scale(1.1);
}

.page-service-area .item-service .card {
    height: 100%;
}

.page-service-area .item-service .title {
    font-size: 1em;
}
/* End Page Service */

/* Page Blog */
.blog-area .item-blog {
    margin-bottom: 32px;
}
/* End Page Blog */

/* Post content area */
.post-content-area .post-widget {
    position: sticky;
    top: 10px;
    left: 0;
    width: 100%;
}

.post-content-area .post-widget .widget-title {
    font-size: 1.5em;
    color: var(--primary-color);
    margin-bottom: 16px;
}

.post-content-area .post-widget .list-post .post-item {
    padding: 12px 0;
    border-bottom: 1px dashed #ccc;
}

.post-content-area .post-widget .list-post .post-item a {
    font-size: 0.875em;
    color: var(--color-blue-1);
}

.post-content-area .post-widget .list-post .post-item a:hover {
    color: var(--secondary-color);
}

.post-entry-content {
    margin-top: 32px;
}
/* End Post content area */

/* Career Area  */
.item-career {
    margin-bottom: 32px;
}

.item-career .card {
    padding: 0;
    border-radius: 0;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.07);
    transition: all 0.2s ease-in;
}

.item-career .item-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.item-career .box-thumbnail {
    width: 33.33%;
}

.item-career .box-thumbnail .img-wrap {
    padding-top: 100%;
}

.item-career .box-content {
    width: 66.66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.item-career .box-content .title {
    font-size: 1em;
    line-height: 20px;
}

.item-career .box-content .title:hover {
    color: var(--primary-color);
}

.item-career .box-content .post-meta {
    margin-top: 8px;
}
/* End Career Area */

/* Career Detail */
.post-content-career .post-content-title {
    font-size: 1.25em;
    border-bottom: 1px solid #B5B5B5;
    padding-bottom: 8px;
    margin-bottom: 24px;
}

.post-content-career .post-widget-career:not(:last-child) {
    margin-bottom: 32px;
}

.post-content-career .post-widget-career .item-career {
    margin-bottom: 0;
    padding: 12px 0;
    border-bottom: 1px solid #ccc;
}

.post-content-career .post-widget-career .item-career:last-child {
    border-bottom: 0;
}
/* End Career Detail */

/* Contact Area */
.contact-area .contact-info {
    margin-bottom: 64px;
}

.contact-area .contact-info .title {
    margin-bottom: 12px;
}

.contact-area .contact-form .contact-form-inner {
    width: 70%;
    margin: 0 auto;
}

.contact-area .contact-form .form-group {
    margin-bottom: 24px;
}

.contact-area .contact-form .form-group input {
    height: 45px;
}
/* End Contact Area */

/* Map Area */
.map-area iframe {
    width: 100%;
}
/* End Map Area */

/* Footer */
.footer .footer-widget .widget-title {
    font-size: 1.125em;
    line-height: 20px;
}

.footer .footer-widget .widget-content {
    margin-top: 24px;
}

.footer .footer-widget .widget-content p {
    margin-bottom: 8px;
}

.footer .footer-widget .widget-content .list-footer-menu .menu-item {
    margin-bottom: 8px;
}

.footer .footer-widget .widget-content .list-footer-menu .menu-item a:hover {
    color: var(--primary-color);
}

.footer .footer-widget .widget-content .list-social {
    display: flex;
    align-items: center;
}

.footer .footer-widget .widget-content .list-social li {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}

.footer .footer-widget .widget-content .list-social li:last-child {
    margin-right: 0;
}

.footer .footer-widget .widget-content .list-social li:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    cursor: pointer;
}

.footer .footer-widget .widget-content .list-social li:hover a {
    color: var(--color-white);
}

.footer .footer-bottom {
    padding: 16px 0;
}

.footer .footer-bottom .copy-right {
    color: var(--color-white);
}
/* End Footer */

/* scrollToTop */
.scrollToTop {
    position: fixed;
    bottom: 50px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
}

.scrollToTop.is-scroll {
    -webkit-animation-name: fade-bottom;
    animation-name: fade-bottom;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.scrollToTop .btn-scrollToTop {
    width: 40px;
    height: 40px;
}
/* End scrollToTop */

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 990;
}

.overlay.active {
    display: block;
}
/* End Overlay */

/* Slick Slider */
.slick-prev {
    left: -50px;
}

.slick-next {
    right: -50px;
}

.slick-prev,
.slick-next {
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-white);
    border-radius: 50%;
    z-index: 10;
}

.slick-prev::before,
.slick-next::before {
    opacity: 1;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display,inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}

.slick-prev::before {
    content: "\f053";
}

.slick-next::before {
    content: "\f054";
}

.slick-dots li {
    width: auto;
    height: auto;
}

.slick-dots li button {
    display: block;
    width: 21px;
    height: 9px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    border-radius: 3px;
    transition: none;
}

.slick-dots li button::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 9px;
    content: '';
    opacity: 1;
    text-align: center;
    background: #E4E6EF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 3px;
}

.slick-dots li.slick-active button {
    width: 56px;
}

.slick-dots li.slick-active button::before {
    opacity: 1;
    width: 56px;
    height: 9px;
    background: var(--color-info);
}

/* End Slick Slider */

/* RESPONSIVE */
@media screen and (max-width: 992px) {
    .block-title {
        width: 90%;
    }

    /* Header */
    .header .menu-nav {
        display: none;
    }
    .header .btn-menu {
        width: 30px;
        height: 30px;
    }
    /* End Header */

    /* Responsive Menu */
    .responsive-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 85%;
        height: 100vh;
        padding: 30px;
        background: var(--color-white);
        box-shadow: -6px 0 35px rgb(0 0 0 / 15%);
        transform: translateX(120%);
        z-index: 999;
        transition: transform 0.4s ease-in-out;
    }
    .responsive-menu.open {
        transform: translateX(0%);
    }
    .responsive-menu .btn-close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
        color: var(--primary-color);
    }
    .responsive-menu.menu-nav .list-menu {
        flex-direction: column;
        margin-top: 48px;
    }
    .responsive-menu.menu-nav .list-menu .menu-item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 16px;
    }
    html.overflow-hidden {
        overflow: hidden;
    }
    /* End Responsive Menu */

    /* Home Banner */
    .home-banner .slider-item .img-wrap {
        padding-top: 75.25%;
    }
    /* End Home Banner */

    /* About Us Home */
    .about-us-item .content {
        margin-top: 32px;
    }
    /* End About Us Home */

    /* Slider Service */
    .service-area .item-service {
        transform: scale(1);
    }
    /* End Slider Service */

    /* Vision */
    .item-vision {
        margin-bottom: 32px;
    }
    /* End Vision */

    /* Partner */
    .item-partner {
        margin-bottom: 32px;
    }
    /* End Partner */

    /* Post Content */
    .post-content {
        margin-bottom: 32px;
    }
    /* End Post Content */

    /* Contact */
    .contact-info-wrap {
        margin-bottom: 24px;
    }
    /* End Contact */

    /* Footer */
    .footer .footer-widget {
        margin-bottom: 24px;
    }
    .footer .footer-widget .widget-content {
        margin-top: 16px;
    }
    /* End Footer */

    /* Slick Slider */
    .slider-home-banner .slick-prev, 
    .slider-home-banner .slick-next {
        opacity: 1;
        visibility: visible;
    }
    .slider-home-banner .slick-prev {
        left: 10px;
    }
    .slider-home-banner .slick-next {
        right: 10px;
    }
    .slick-prev, 
    .slick-next {
        width: 25px;
        height: 25px;
    }
    .slick-prev:before, 
    .slick-next:before {
        font-size: 10px;
    }
    /* End Slick Slider */
}

@media screen and (max-width: 768px) {
    /* Page Header */
    .page-header {
        height: 450px;
    }
    .page-header .page-title .title {
        font-size: 2.4em;
        line-height: 48px;
        margin-bottom: 16px;
    }
    /* End Page Header */

    /* Contact */
    .contact-area .contact-form .contact-form-inner {
        width: 100%;
    }
    /* End Contact */
}

/* END RESPONSIVE */